<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @recipes %>
    <%= @recipes.each do |recipe| %>
            <h3><%= link_to recipe.title, recipe_path(recipe.id) %></h3>
            <p>hi</p>
            Description: <%= recipe.description %><br>
            Total Time Required: <%= recipe.total_prep_time %><br>
            <p>Number of subscribers: <%= recipe.subscriptions.count %></p><br>
            <br>
            <% binding.pry %>
    <% end %>
<% end %>
