<h1><%= @recipe.title %></h1>
<h4><%= "Total Time Required: #{@recipe.total_prep_time}" %></h4>
<p><%= "Description: #{@recipe.description}" %></p>
<h4><%= "Number of subscribers: #{@recipe.subscriptions.count} " %></h4>
<small>Created by: <%= find_original_creator_for @recipe %></small>

<hr>

<h4>Subscription Comments</h4>
<% @recipe.users.each do |user| %>
    <%= "#{user.name} said:" %><br>
    <%= show_sub_comment_for user, @recipe %><br>
    <br>
<% end %>

<% if current_user_is_not_subscribed_to @recipe %>
    <p>Leave a comment and subscribe!</p>
    <%= form_for :subscription, :url => {controller: "subscriptions", action: "create"} do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :recipe_id, value: @recipe.id %>
        <%= f.label :comment %><br>
        <%= f.text_area :sub_comment %><br>

        <%= f.submit "Click to Subscribe" %>
    <% end %>
<% end %>