<!DOCTYPE html>
<html>
  <head>
    <title>BakersBench</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if is_logged_in? %>
      <%= link_to "My Profile", user_path(current_user) %> |
      <%= link_to "Create New Recipe", new_user_recipe_path(current_user) %> |
      <%= link_to "My Recipe Subscriptions", user_recipes_path(current_user) %> |
      <%= link_to "See All Users", users_path %>
      <%= button_to "Log Out", session_path(current_user.id), method: :delete %>
      <hr>
    <% else %>
      <%= link_to "Go to Login Page", new_session_path %>
      <br>
      <%= link_to "Go to Home Page", root_path %>
      <br>
      <%= link_to "Create new Account", new_user_path %>
      <hr>
    <% end %>
  </header>

  <body>
    <%= flash_alert %>
    <%= flash_notice %>

    <%= yield %>

    <footer>
      <hr>
      <small>Copyright Baker's Bench 2020</small>
  </footer>
  </body>
</html>
